# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/build/
/Sc17_Exercises/nbproject/private/
/Sc17_Exercises/build/
/Sc18_Interfaces/nbproject/private/
/Sc18_Interfaces/build/
/Sc18_Exercise/nbproject/private/
/Sc18_zExercise/nbproject/private/
/Sc18_zExercise/build/
/Sc18_z2Interfaces/nbproject/private/
/Sc18_zzInterfaces2/build/
/Sc18_zzInterfaces2/nbproject/private/
/Sc18_zzInterfaces2/dist/
/Sc18_zExercise/dist/
/Sc18_zzInterfaces3/nbproject/private/
/Sc18_zzInterfaces3/build/
/Sc18_zzInterfacesComparable/nbproject/private/
/Sc18_zzInterfacesComparable/build/
/Sc18_zzzDefaultMethods/nbproject/private/
/Sc18_zzzDefaultMethods/build/
/Sc19_Generics/nbproject/private/
/Sc19_Generics/build/
/Sc19_GenericosDelimitados/nbproject/private/
/Sc19_GenericsDelimitados/nbproject/private/
/Sc19_GenericsDelimitados/build/
/Sc19_GenericsMethods/nbproject/private/
/Sc19_Wildcard/nbproject/private/
/Sc19_Wildcard/build/
/Sc19_BoundedWildcards/nbproject/private/
/Sc19_hWildcard/nbproject/private/
/Sc19_iBoundedWildcards/nbproject/private/
/Sc19_iBoundedWildcards/build/
/Sc19_iBoundedWildcards2/nbproject/private/
/Sc19_iBoundedWildcards2/build/
/Sc19_gWildcard/nbproject/private/
/Sc19_aGenerics/nbproject/private/
/Sc19_aGenericsMethods/nbproject/private/
/Sc19_bWildcard/nbproject/private/
/Sc19_cBoundedWildcards/nbproject/private/
/Sc19_cBoundedWildcards2/nbproject/private/
/Sc19_dHashCodeAndEquals/nbproject/private/
/Sc19_dHashCodeAndEquals/build/
